---
import Excerpt from "../../components/Excerpt.astro";
import { client } from "../../../tina/__generated__/client.ts";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import { getCollection } from "astro:content";
import PageTitle from "../../components/PageTitle.astro";
import Section from "../../components/Section.astro";
import Book from "../../components/Book.astro";
import BooksGrid from "../../components/BooksGrid.astro";
import { isDefined } from "../../utils/isDefined";

const rolesMap: Record<string, string> = {
  author: "Autor",
  translate: "Překladatel",
  editor: "Redaktor",
  illustration: "Ilustrace",
  cover: "Obálka",
  typesetting: "Sazba",
  reviewr: "Recenzent",
};

export async function getStaticPaths() {
  const posts = await getCollection("book");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: {
      post,
      getTinaProps: async () =>
        client.queries.books({
          relativePath: post.data.tinaInfo?.relativePath ?? "",
        }),
    },
  }));
}

const { slug } = Astro.params;

const relativePath = `${slug}.md`;
const res = await client.queries.books({ relativePath });
const book = res.data.books;
const authors = (book.authors ?? []).filter(isDefined);

const mainAuthor = authors.find((a) => a.role === "author");

const authorsBooks = (
  (
    await client.queries.booksConnection({
      filter: {
        authors: {
          author: { authors: { slug: { eq: mainAuthor?.author?.slug } } },
        },
      },
    })
  ).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter((item) => item?.slug !== slug)
  .filter(isDefined);
---

<Layout
  siteTitle={book.title}
  bgColor={book.bgColor ?? book.color ?? undefined}
>
  <PageTitle color={book.color ?? undefined}>{book.title}</PageTitle>

  <section>
    <p class="text-2xl mb-8">
      <span class="whitespace-nowrap">
        <a
          class="group text-gray-500 hover:text-black transition-colors font-alt"
          href={`/autori/${mainAuthor?.author?._sys.filename}`}
        >
          {mainAuthor?.author?.firstname}
          {mainAuthor?.author?.surname}
        </a>
      </span>
    </p>
    {
      book.cover && (
        <Image
          alt={book.title}
          src={book.cover as string}
          width={420}
          height={600}
          class="mb-4 min-sm:float-left max-sm:w-full shadow-2xl border border-gray-200 min-sm:-ml-4 min-sm:mr-8"
        />
      )
    }
    <TinaMarkdown content={book.description} />
  </section>
  <section class="clear-both mt-20">
    {
      authors
        .map(({ author, role }) => ({ ...author, role }))
        .filter(isDefined)
        .map((a) => (
          <Excerpt
            title={`${a.firstname} ${a.surname}`}
            image={a.image ?? undefined}
            link={`/autori/${a._sys?.filename}`}
            color={book.color ?? undefined}
            description={a.description}
            label={a.role ? rolesMap[a.role] : undefined}
          />
        ))
    }
  </section>
  {
    authorsBooks.length > 0 && (
      <Section title="Další knihy autora">
        <BooksGrid>
          {authorsBooks.map((book) => (
            <Book
              title={book.title}
              link={`/knihy/${book._sys.filename}`}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === "author")
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: `/authori/${a._sys.filename}` }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
  }
</Layout>
