---
import { client } from "../../../tina/__generated__/client.ts";
import Layout from "../../layouts/Layout.astro";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
	const posts = await getCollection("book");

	return posts.map((post) => ({
		params: { slug: post.id },
		props: {
			post,
			getTinaProps: async () =>
				client.queries.books({
					relativePath: post.data.tinaInfo?.relativePath ?? "",
				}),
		},
	}));
}

const { slug } = Astro.params;

const relativePath = `${slug}.md`;
const res = await client.queries.books({ relativePath });
const book = res.data.books;
const authors = (book.authors ?? []).filter((a) => a?.role === "author");
---

<Layout>
  <h1>{book.title}</h1>
  <p>
    {
      authors.map((a) => (
        <a href={`/autori/${a?.author?._sys.filename}`}>
          {a?.author?.firstname} {a?.author?.surname}
        </a>
      ))
    }
  </p>
  <TinaMarkdown content={book.description} />
</Layout>
