---
import { Image } from 'astro:assets'

import { client } from '../../tina/__generated__/client.ts'
import ArrowLink from '../components/ArrowLink.astro'
import AuthorSmall from '../components/AuthorSmall.astro'
import Book from '../components/Book.astro'
import BooksGrid from '../components/BooksGrid.astro'
import Excerpt from '../components/Excerpt.astro'
import Section from '../components/Section.astro'
import Theme from '../components/Theme.astro'
import Layout from '../layouts/Layout.astro'
import { routes } from '../routes'
import { isDefined } from '../utils/isDefined'

const [lastBook, ...recentBooks] = (
  (await client.queries.booksConnection({ sort: 'date', last: 4 })).data.booksConnection
    .edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined)

if (!isDefined(lastBook)) {
  return
}

const lastBookAuthors = lastBook.authors
  ?.filter((a) => a?.isMain)
  .filter(isDefined)
  .map((a) => ({ ...a.author, role: a.role }))
  .filter(isDefined)

const forKidsBooks = (
  (
    await client.queries.booksConnection({
      sort: 'date',
      last: 3,
      filter: { category: { eq: 'forKids' } },
    })
  ).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined)

const philosophyBooks = (
  (
    await client.queries.booksConnection({
      sort: 'date',
      last: 3,
      filter: { category: { eq: 'philosophy' } },
    })
  ).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined)
---

<Layout>
  <Section isWide>
    <div
      class="via-brand-first-50/50 to-brand-second-100 mt-8 flex rounded-xl -bg-linear-45 from-transparent shadow-2xl max-sm:flex-col min-sm:mt-20 min-md:h-64"
    >
      <div class="flex-1">
        {
          lastBook.cover && (
            <a class="block min-md:-mb-32" href={routes.books.detail(lastBook)}>
              <Image
                alt={lastBook.title}
                src={lastBook.cover}
                width={300}
                height={300}
                class="animate-rotate-on-load rotate-0 border border-gray-200 shadow-2xl transition-transform duration-500 hover:-rotate-8 max-sm:mx-auto"
              />
            </a>
          )
        }
      </div>
      <div class="flex flex-3 flex-col justify-between px-4 py-8 min-sm:px-16">
        <div>
          <h2
            class="group text-brand-first-500 font-head relative mb-4 inline-block text-[10vw] font-medium min-sm:text-6xl"
          >
            <a class="relative z-10" href={routes.books.detail(lastBook)}
              >{lastBook.title}</a
            >
            <span
              class="animate-width-expand from-brand-second-500 absolute bottom-0 left-0 h-[4px] w-0 bg-gradient-to-r to-transparent"
            ></span>
          </h2>

          <div class="line-clamp-3 text-xl">
            {lastBook.description}
          </div>
          <div class="flex justify-end pt-4 pr-8">
            <ArrowLink href={routes.books.detail(lastBook)}>více o knize</ArrowLink>
          </div>
        </div>
      </div>
    </div>
    {
      lastBookAuthors && (
        <div class="mb-40 flex flex-wrap gap-2 min-sm:justify-end">
          {lastBookAuthors.map((a) => (
            <AuthorSmall
              firstname={a.firstname ?? ''}
              surname={a.surname ?? ''}
              image={a.image ?? ''}
              link={routes.authors.detail(a)}
              role={a.role ?? ''}
            />
          ))}
        </div>
      )
    }
  </Section>
  <Section>
    <p class="font-alt mt-16 mb-24 px-6 text-center text-2xl text-gray-800 italic">
      <strong>Přestupní stanice</strong> je roddinné knižní nakladatelství, které se ve své
      ediční činnosti soustředí na kvalitní nekomerční tituly.
    </p>
  </Section>
  <Section title="Nejnovější knihy">
    <div class="flex flex-col gap-16">
      {
        recentBooks.map((book, index) => (
          <Theme
            firstColor={book.color ?? undefined}
            secondColor={book.bgColor ?? undefined}
          >
            <Excerpt
              className={index % 2 === 0 ? 'min-sm:pr-8' : 'min-sm:pl-8'}
              title={book.title}
              description={book.description ?? ""}
              image={book.cover ?? undefined}
              link={routes.books.detail(book)}
            >
              {book.authors
                ?.filter((a) => a?.role === 'author')
                .map((a) => a?.author)
                .filter(isDefined)
                .map((a, index) => (
                  <span class="whitespace-nowrap">
                    {index !== 0 ? ', ' : ''}
                    <a
                      class="group font-alt text-gray-500 transition-colors hover:text-black"
                      href={routes.authors.detail(a)}
                    >
                      {a.firstname} {a.surname}
                    </a>
                  </span>
                ))}
            </Excerpt>
          </Theme>
        ))
      }
    </div>
    <div class="my-20 flex justify-center">
      <ArrowLink href={routes.books.list()}>všechny knihy</ArrowLink>
    </div>
  </Section>
  {
    forKidsBooks.length > 0 && (
      <Section title="Knihy pro děti">
        <BooksGrid>
          {forKidsBooks.map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === 'author')
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
  {
    philosophyBooks.length > 0 && (
      <Section title="Knihy pro filosofy">
        <BooksGrid>
          {philosophyBooks.map((book) => (
            <Book
              title={book.title}
              link={`/knihy/${book._sys.filename}`}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === 'author')
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
</Layout>
