---
import { Image } from "astro:assets";
import { client } from "../../tina/__generated__/client.ts";
import Layout from "../layouts/Layout.astro";
import { TinaMarkdown } from "tinacms/dist/rich-text";

const res = await client.queries.booksConnection();
const books = (res.data.booksConnection.edges ?? []).reverse();
---

<Layout>
  <sectino>
    <p class="text-2xl text-shadow-lg text-center font-head my-16 italic px-6">
      Roddinné knižní nakladatelství, které se ve své ediční činnosti soustředí
      na kvalitní nekomerční tituly.
    </p>
  </sectino>
  <section class="flex flex-col gap-16 mt-12">
    {
      books.map((book, index) => (
        <article class={`flex gap-8 ${index % 2 === 0 ? "" : "pl-8"}`}>
          {book?.node?.cover && (
            <Image
              alt={book?.node?.title}
              src={book?.node?.cover as string}
              width={157.5}
              height={225}
              class="shadow-2xl"
            />
          )}
          <div class="flex flex-col gap-4">
            <h2 class="text-4xl font-head">
              <a href={`/knihy/${book?.node?._sys.filename}`}>
                {book?.node?.title}
              </a>
            </h2>

            <div class="pl-8">
              <div class="line-clamp-3">
                <TinaMarkdown content={book?.node?.description} />
              </div>
              <a
                class="underline hover:no-underline"
                href={`/knihy/${book?.node?._sys.filename}`}
              >
                Více →
              </a>
            </div>
          </div>
        </article>
      ))
    }
  </section>
</Layout>
