---
import { Image } from "astro:assets";
import { client } from "../../tina/__generated__/client.ts";
import Layout from "../layouts/Layout.astro";
import { TinaMarkdown } from "tinacms/dist/rich-text";

function isDefined<T>(value: T | undefined | null): value is T {
  return value !== undefined && value !== null;
}

const recentBooks = (
  (await client.queries.booksConnection({ sort: "date", last: 3 })).data
    .booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined);
---

<Layout>
  <sectino>
    <p
      class="text-2xl font-alt mt-16 text-center mb-24 italic px-6 text-gray-800"
    >
      Roddinné knižní nakladatelství, které se ve své ediční činnosti soustředí
      na kvalitní nekomerční tituly.
    </p>
  </sectino>
  <section class="flex flex-col gap-16 mt-12">
    {
      recentBooks.map((book, index) => (
        <article class={`flex gap-8 ${index % 2 === 0 ? "" : "pl-8"}`}>
          {book.cover && (
            <Image
              alt={book.title}
              src={book.cover as string}
              width={157.5}
              height={225}
              class="shadow-2xl"
            />
          )}
          <div class="flex flex-col gap-4">
            <div>
              <h2
                class="inline text-4xl font-head relative group"
                style={{ color: book.color ?? "black" }}
              >
                <a href={`/knihy/${book._sys.filename}`}>{book.title}</a>
                <span class="absolute left-0 bottom-0 h-[1px] w-0 transition-all group-hover:w-full bg-gray-400 duration-600" />
              </h2>
              <div class="inline-block w-8 h-[1px] mb-2 mr-2 bg-gray-400" />
              <p class="text-xl inline">
                {" "}
                {book.authors
                  ?.filter((a) => a?.role === "author")
                  .map((a, index) => (
                    <span class="whitespace-nowrap">
                      {index !== 0 ? ", " : ""}
                      <a
                        class="group text-gray-500 hover:text-black transition-colors font-alt"
                        href={`autori/${a?.author?._sys.filename}`}
                      >
                        {a?.author?.firstname} {a?.author?.surname}
                      </a>
                    </span>
                  ))}
              </p>
            </div>

            <div class="pl-8">
              <div class="line-clamp-3">
                <TinaMarkdown content={book.description} />
              </div>
            </div>
            <div class="flex justify-end">
              <a
                class="tracking-wider text-gray-600 uppercase text-sm font-alt"
                href={`/knihy/${book._sys.filename}`}
                style={{ color: book.color ?? "black" }}
              >
                více o knize →
              </a>
            </div>
          </div>
        </article>
      ))
    }
  </section>
</Layout>
