---
import { routes } from "../routes";
import { client } from "../../tina/__generated__/client.ts";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Excerpt from "../components/Excerpt.astro";
import BooksGrid from "../components/BooksGrid.astro";
import ArrowLink from "../components/ArrowLink.astro";
import Book from "../components/Book.astro";
import { isDefined } from "../utils/isDefined";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import { rolesMap } from "../utils/rolesMap";

const [lastBook, ...recentBooks] = (
  (await client.queries.booksConnection({ sort: "date", last: 4 })).data
    .booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined);

const lastBookAuthors = lastBook.authors
  ?.filter((a) => a?.isMain)
  .filter(isDefined)
  .map((a) => ({ ...a.author, role: a.role }))
  .filter(isDefined);

const forKidsBooks = (
  (
    await client.queries.booksConnection({
      sort: "date",
      last: 3,
      filter: { category: { eq: "forKids" } },
    })
  ).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined);

const philosophyBooks = (
  (
    await client.queries.booksConnection({
      sort: "date",
      last: 3,
      filter: { category: { eq: "philosophy" } },
    })
  ).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined);
---

<Layout>
  <Section isWide>
    <div
      class="rounded-xl flex min-md:h-64 mt-8 min-sm:mt-20 max-sm:flex-col"
      style={{
        background: `linear-gradient(-45deg, transparent, var(--color-brand-first-100), var(--color-brand-second-300))`,
      }}
    >
      <div class="flex-1">
        {
          lastBook.cover && (
            <a class="block min-md:-mb-32" href={routes.books.detail(lastBook)}>
              <Image
                alt={lastBook.title ?? ""}
                src={lastBook.cover}
                width={300}
                height={300}
                class="shadow-2xl border max-sm:mx-auto border-gray-200 rotate-0 animate-rotate-on-load transition-transform hover:-rotate-8 duration-500"
              />
            </a>
          )
        }
      </div>
      <div class="py-8 px-4 min-sm:px-16 flex-3 flex flex-col justify-between">
        <div>
          <h2
            class="group text-brand-first relative font-medium text-[10vw] min-sm:text-6xl font-head mb-4 inline-block"
          >
            <a class="relative z-10" href={routes.books.detail(lastBook)}
              >{lastBook.title}</a
            >
            <span
              class="absolute left-0 bottom-0 h-[4px] w-0 animate-width-expand bg-brand-second"
            ></span>
          </h2>

          <div class="line-clamp-3 text-xl">
            {
              lastBook.description && (
                <TinaMarkdown
                  content={lastBook.description}
                  components={{ p: (props) => props?.children }}
                />
              )
            }
          </div>
          <div class="flex justify-end pt-4 pr-8">
            <ArrowLink
              href={routes.books.detail(lastBook)}>více o knize</ArrowLink
            >
          </div>
        </div>
      </div>
    </div>
    {
      lastBookAuthors && (
        <div class="flex gap-2 min-sm:justify-end mb-40 flex-wrap">
          {lastBookAuthors.map((a) => (
            <a
              class="group flex items-center gap-4 hover:bg-white rounded-md py-2 px-4 transition-colors"
              href={routes.authors.detail({
                _sys: { filename: a?._sys?.filename ?? "" },
              })}
            >
              {a.image && (
                <Image
                  src={a.image}
                  alt={`${a.firstname} ${a.surname}`}
                  width={40}
                  height={40}
                  class="rounded-full"
                />
              )}
              <div>
                <div class="group-hover:underline text-gray-800 text-alt font-alt">
                  {a.firstname} {a.surname}
                </div>
                {a.role && (
                  <div class="text-gray-500 text-sm">{rolesMap[a.role]}</div>
                )}
              </div>
            </a>
          ))}
        </div>
      )
    }
  </Section>
  <Section>
    <p
      class="text-2xl font-alt mt-16 text-center mb-24 italic px-6 text-gray-800"
    >
      <strong>Přestupní stanice</strong> je roddinné knižní nakladatelství, které
      se ve své ediční činnosti soustředí na kvalitní nekomerční tituly.
    </p>
  </Section>
  <Section title="Nejnovější knihy">
    <div class="flex flex-col gap-16">
      {
        recentBooks.map((book, index) => (
          <Excerpt
            className={index % 2 === 0 ? "min-sm:pr-8" : "min-sm:pl-8"}
            title={book.title}
            description={book.description}
            image={book.cover ?? undefined}
            color={book.color ?? undefined}
            secondColor={book.bgColor ?? undefined}
            link={routes.books.detail(book)}
          >
            {book.authors
              ?.filter((a) => a?.role === "author")
              .map((a) => a?.author)
              .filter(isDefined)
              .map((a, index) => (
                <span class="whitespace-nowrap">
                  {index !== 0 ? ", " : ""}
                  <a
                    class="group text-gray-500 hover:text-black transition-colors font-alt"
                    href={routes.authors.detail(a)}
                  >
                    {a.firstname} {a.surname}
                  </a>
                </span>
              ))}
          </Excerpt>
        ))
      }
    </div>
    <div class="flex justify-center my-20">
      <ArrowLink href={routes.books.list()}>všechny knihy</ArrowLink>
    </div>
  </Section>
  {
    forKidsBooks.length > 0 && (
      <Section title="Knihy pro děti">
        <BooksGrid>
          {forKidsBooks.map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === "author")
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
  {
    philosophyBooks.length > 0 && (
      <Section title="Knihy pro filosofy">
        <BooksGrid>
          {philosophyBooks.map((book) => (
            <Book
              title={book.title}
              link={`/knihy/${book._sys.filename}`}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === "author")
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
</Layout>
