---
import { Image } from 'astro:assets'
import { getCollection, getEntry } from 'astro:content'

import { client } from '../../../tina/__generated__/client.ts'
import Book from '../../components/Book.astro'
import BooksGrid from '../../components/BooksGrid.astro'
import Markdown from '../../components/Markdown.astro'
import PageTitle from '../../components/PageTitle.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'
import { getSlugFromPath } from '../../utils/getSlugFromPath'
import { isDefined } from '../../utils/isDefined'
import { tp } from '../../utils/tp'

export async function getStaticPaths() {
  const authors = await getCollection('author')

  return authors.map((a) => ({
    params: { slug: a.id },
    props: {
      post: a,
      getTinaProps: async () =>
        client.queries.authors({
          relativePath: a.data.slug,
        }),
    },
  }))
}

const { slug } = Astro.params

if (!slug) {
  return
}

const entry = await getEntry('author', slug)

if (!entry) {
  return
}

const { data: author } = entry

const books = await getCollection('book', ({ data }) =>
  data.authors.some(({ isMain, author }) => isMain && getSlugFromPath(author) === slug),
)
---

<Layout
  siteTitle={`${author.firstname} ${author.surname}`}
  siteDescription={author.claim ?? ''}
  firstColor={books[0]?.data.color ?? undefined}
  secondColor={books[0]?.data.bgColor ?? undefined}
>
  <Section className="mb-32">
    <PageTitle>
      {author.firstname}{' '}{author.surname}
    </PageTitle>
    {
      author.image && (
        <Image
          alt={`${author.firstname} ${author.surname}`}
          src={author.image}
          width={420}
          height={600}
          class="animate-slide-on-load border-brand-second-50 mb-4 rounded-xl border-4 shadow-2xl max-sm:w-full min-sm:float-left min-sm:mr-8 min-sm:-ml-4"
        />
      )
    }
    <blockquote class="font-alt text-brand-first-500 mb-4 pl-2 text-2xl italic">
      {author.claim && tp(author.claim)}
    </blockquote>

    {entry.body && <Markdown text={entry.body} />}
  </Section>
  <Section className="clear-both"
    >{
      books.length > 0 && (
        <BooksGrid>
          {books.filter(isDefined).map((book) => (
            <Book slug={book.data.slug} />
          ))}
        </BooksGrid>
      )
    }</Section
  >
</Layout>
