---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

import { client } from '../../../tina/__generated__/client.ts'
import Book from '../../components/Book.astro'
import BooksGrid from '../../components/BooksGrid.astro'
import Markdown from '../../components/Markdown.astro'
import PageTitle from '../../components/PageTitle.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'
import { routes } from '../../routes'
import { isDefined } from '../../utils/isDefined'
import { tp } from '../../utils/tp'

export async function getStaticPaths() {
  const posts = await getCollection('author')

  return posts.map((post) => ({
    params: { slug: post.id },
    props: {
      post,
      getTinaProps: async () =>
        client.queries.authors({
          relativePath: post.data.tinaInfo?.relativePath ?? '',
        }),
    },
  }))
}

const { slug } = Astro.params

if (!slug) {
  return
}

const res = await client.queries.authors({ relativePath: `${slug}.md` })
const author = res.data.authors

const books = (
  (
    await client.queries.booksConnection({
      filter: {
        authors: {
          author: { authors: { slug: { eq: slug } } },
        },
      },
    })
  ).data.booksConnection.edges ?? []
).map((item) => item?.node)
---

<Layout
  siteTitle={`${author.firstname} ${author.surname}`}
  firstColor={books[0]?.color ?? undefined}
  secondColor={books[0]?.bgColor ?? undefined}
>
  <Section className="mb-32">
    <PageTitle>
      {author.firstname}{' '}{author.surname}
    </PageTitle>
    {
      author.image && (
        <Image
          alt={`${author.firstname} ${author.surname}`}
          src={author.image}
          width={420}
          height={600}
          class="animate-slide-on-load border-brand-second-50 mb-4 rounded-xl border-4 shadow-2xl max-sm:w-full min-sm:float-left min-sm:mr-8 min-sm:-ml-4"
        />
      )
    }
    <blockquote class="font-alt text-brand-first-500 mb-4 pl-2 text-2xl italic">
      {author.claim && tp(author.claim)}
    </blockquote>

    {author.description && <Markdown text={author.description} />}
  </Section>
  <Section className="clear-both"
    >{
      books.length > 0 && (
        <BooksGrid>
          {books.filter(isDefined).map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === 'author')
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      )
    }</Section
  >
</Layout>
