---
import Section from "../../components/Section.astro";
import PageTitle from "../../components/PageTitle.astro";
import { Image } from "astro:assets";
import { client } from "../../../tina/__generated__/client.ts";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { RichText } from "../../components/RichText";
import { isDefined } from "../../utils/isDefined";
import BooksGrid from "../../components/BooksGrid.astro";
import Book from "../../components/Book.astro";
import { routes } from "../../routes";
import { undefined } from "astro:schema";

export async function getStaticPaths() {
  const posts = await getCollection("author");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: {
      post,
      getTinaProps: async () =>
        client.queries.authors({
          relativePath: post.data.tinaInfo?.relativePath ?? "",
        }),
    },
  }));
}

const { slug } = Astro.params;

const res = await client.queries.authors({ relativePath: `${slug}.md` });
const author = res.data.authors;

const books = (
  (
    await client.queries.booksConnection({
      filter: {
        authors: {
          author: { authors: { slug: { eq: slug } } },
        },
      },
    })
  ).data.booksConnection.edges ?? []
).map((item) => item?.node);
---

<Layout siteTitle={`${author.firstname} ${author.surname}`}>
  <PageTitle color={books[0].color ?? "black"}>
    {author.firstname}{" "}{author.surname}
  </PageTitle>

  <Section className="mb-32">
    {
      author.image && (
        <Image
          alt={`${author.firstname} ${author.surname}`}
          src={author.image as string}
          width={420}
          height={600}
          class="mb-4 min-sm:float-left max-sm:w-full shadow-2xl border border-gray-200 min-sm:-ml-4 min-sm:mr-8"
        />
      )
    }
    <RichText content={author.description} />
  </Section>
  <Section className="clear-both"
    >{
      books.length > 0 && (
        <BooksGrid>
          {books.map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role === "author")
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      )
    }</Section
  >
</Layout>
