---
import { Image } from 'astro:assets'

import { rolesMap } from '../utils/rolesMap'

interface Props {
  firstname: string
  surname: string
  image: string
  role: string
  link: string
}

const { firstname, surname, image, role, link } = Astro.props
---

<a
  class="group flex items-center gap-4 rounded-md px-4 py-2 transition-colors"
  href={link}
>
  {
    image ? (
      <Image
        src={image}
        alt={`${firstname} ${surname}`}
        width={40}
        height={40}
        class="rounded-full"
      />
  ) : <div class="size-8 rounded-full bg-gradient-to-tr from-brand-first-200 to-brand-second-200"></div>
  }
  <div>
    <div class="text-alt font-alt text-gray-800 group-hover:underline">
      {firstname}
      {surname}
    </div>
    {role && <div class="text-sm text-gray-500">{rolesMap[role]}</div>}
  </div>
</a>
