---
import { Image } from 'astro:assets'

import { isDefined } from '../utils/isDefined'
import { joinWords } from '../utils/joinWords'
import { rolesMap } from '../utils/rolesMap'

interface Props {
  firstname: string
  surname: string
  image?: string
  roles: string[]
  gender: 'male' | 'female'
  link: string
  imperfect?: boolean
}

const { firstname, surname, image, roles, gender, link, imperfect } = Astro.props
---

<a
  class="group flex items-center gap-4 rounded-md px-4 py-2 transition-colors"
  href={link}
>
  {
    image ? (
      <Image
        src={image}
        alt={`${firstname} ${surname}`}
        width={40}
        height={40}
        class="size-10 rounded-full"
      />
    ) : (
      <div class="from-brand-first-200 to-brand-second-200 size-8 rounded-full bg-gradient-to-tr" />
    )
  }
  <div>
    {
      !imperfect && (
        <div class="text-sm text-gray-500">
          {joinWords(roles.map((r) => rolesMap[r]?.perfect[gender]).filter(isDefined))}
        </div>
      )
    }
    <p class="text-alt font-alt text-brand-first-700 group-hover:underline">
      {firstname}
      {surname}
    </p>
    {
      imperfect && (
        <div class="text-sm text-gray-500">
          {joinWords(roles.map((r) => rolesMap[r]?.imperfect[gender]).filter(isDefined))}
        </div>
      )
    }
  </div>
</a>
