---
import { Image } from 'astro:assets'
import { getCollection, getEntries, getEntry } from 'astro:content'

import Book from '../components/Book.astro'
import BooksGrid from '../components/BooksGrid.astro'
import PageTitle from '../components/PageTitle.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import { CATEGORIES, routes } from '../routes'
import { getAuthorsSecondName } from '../utils/getAuthorSecondName'
import { tp } from '../utils/tp'
import AuthorExcerpt from './AuthorExcerpt.astro'
import AuthorSmall from './AuthorSmall.astro'
import Blockquote from './Blockquote.astro'
import Markdown from './Markdown.astro'

type Props = {
  slug: string
}

const { slug } = Astro.props

const entry = await getEntry('book', slug)

if (!entry) {
  return
}

const { data: book } = entry

const mainAuthors = await getEntries(
  book.authors.filter((b) => b.isMain).map((b) => b.slug),
)

const mainAuthorsWithRoles = mainAuthors.map((a) => ({
  author: a,
  roles: book.authors.find((ba) => ba.slug.id === a.data.slug)?.role ?? [],
}))

const mainAuthorSlug =
  book.authors.find((a) => a.isMain && a.role.includes('author'))?.slug.id ?? ''

const mainAuthor = await getEntry('author', mainAuthorSlug)

const authorsBooks = await getCollection('book', (b) =>
  b.data.authors.filter((b) => b.isMain).some((b) => b.slug.id === mainAuthorSlug),
)

const categoryBooks = await getCollection(
  'book',
  (b) => b.data.slug !== slug && b.data.category === book.category,
)
---

<Layout
  siteTitle={book.title}
  siteDescription={book.claim ?? ''}
  firstColor={book.color}
  secondColor={book.bgColor}
>
  <Section>
    <PageTitle>{tp(book.title)}</PageTitle>
    {
      mainAuthors.length > 0 && (
        <p class="mb-8 text-2xl">
          {mainAuthors.map(({ data: a }, index) => (
            <>
              <a
                class="group font-alt relative text-gray-600 transition-colors hover:text-black"
                href={routes.authors.detail(a.slug)}
              >
                {a.firstname}
                {a.surname}
              </a>
              {index === mainAuthors.length - 2
                ? ' & '
                : index === mainAuthors.length - 1
                  ? ''
                  : ', '}
            </>
          ))}
        </p>
      )
    }
    {
      book.cover && (
        <Image
          alt={book.title}
          src={book.cover}
          width={336}
          height={480}
          class="animate-small-rotate-on-load mb-4 border border-gray-200 shadow-2xl max-sm:w-full min-sm:float-left min-sm:mr-8 min-sm:-ml-4"
        />
      )
    }
    {book.claim && <Blockquote text={book.claim} />}
    {entry.body && <Markdown text={entry.body} />}
    <div class="clear-both"></div>
  </Section>
  <Section className="clear-both my-24 mb-16 flex flex-col gap-12">
    {
      mainAuthorsWithRoles.map(({ author, roles }) => (
        <AuthorExcerpt slug={author.data.slug} roles={roles} />
      ))
    }
  </Section>
  <Section className="grid max-w-3xl grid-cols-3">
    {
      book.authors
        .filter((a) => !a.isMain)
        .map((a) => <AuthorSmall slug={a.slug.id} roles={a.role} />)
    }
  </Section>
  {
    mainAuthor && authorsBooks.length > 0 && (
      <Section title={`Další knihy od ${getAuthorsSecondName(mainAuthor.data)}`}>
        <BooksGrid>
          {authorsBooks.map((b) => (
            <Book slug={b.data.slug} />
          ))}
        </BooksGrid>
      </Section>
    )
  }
  {
    categoryBooks.length > 0 && (
      <Section title={`Další knihy ${CATEGORIES[book.category].name}`}>
        <BooksGrid>
          {categoryBooks.map((b) => (
            <Book slug={b.data.slug} />
          ))}
        </BooksGrid>
      </Section>
    )
  }
</Layout>
