---
import { Image } from 'astro:assets'

import { client } from '../../tina/__generated__/client'
import Book from '../components/Book.astro'
import BooksGrid from '../components/BooksGrid.astro'
import PageTitle from '../components/PageTitle.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import { CATEGORIES, routes } from '../routes'
import { isDefined } from '../utils/isDefined'
import { joinWords } from '../utils/joinWords'
import { rolesMap } from '../utils/rolesMap'
import { tp } from '../utils/tp'
import AuthorSmall from './AuthorSmall.astro'
import Blockquote from './Blockquote.astro'
import Excerpt from './Excerpt.astro'
import Markdown from './Markdown.astro'

interface Props {
  slug: string
}

const { slug } = Astro.props

const relativePath = `${slug}.md`
const res = await client.queries.books({ relativePath })
const book = res.data.books
const authors = (book.authors ?? [])
  .filter(isDefined)
  .map(({ author, role, isMain }) => ({ ...author, role, isMain }))

const mainAuthor = authors.find((a) => a.isMain)
const mainAuthorNameSecond = `${mainAuthor?.firstnameSecond ?? mainAuthor?.firstname ?? ''} ${mainAuthor?.surnameSecond ?? mainAuthor?.surname ?? ''}`

const authorsBooks = (
  (await client.queries.booksConnection()).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter((item) => item?.slug !== slug)
  .filter((item) =>
    (item?.authors ?? []).find(
      (a) => a && a.isMain && a.author && a.author.slug === mainAuthor?.slug,
    ),
  )
  .filter(isDefined)

const categoryBooks = (
  (
    await client.queries.booksConnection({
      first: 3,
      filter: {
        category: {
          eq: book.category,
        },
      },
    })
  ).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(
    (item) => ![slug, ...authorsBooks.map(({ slug }) => slug)].includes(item?.slug ?? ''),
  )
  .filter(isDefined)

const anotherBooks = (
  (await client.queries.booksConnection({ first: 3 })).data.booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(
    (item) =>
      ![
        slug,
        ...authorsBooks.map(({ slug }) => slug),
        ...categoryBooks.map(({ slug }) => slug),
      ].includes(item?.slug ?? ''),
  )
  .filter(isDefined)
---

<Layout
  siteTitle={book.title}
  firstColor={book.color ?? undefined}
  secondColor={book.bgColor ?? undefined}
>
  <Section>
    <PageTitle>{tp(book.title)}</PageTitle>
    {
      mainAuthor && (
        <p class="mb-8 text-2xl">
          <span class="whitespace-nowrap">
            <a
              class="group font-alt text-gray-500 transition-colors hover:text-black"
              href={routes.authors.detail(mainAuthor)}
            >
              {mainAuthor.firstname}
              {mainAuthor.surname}
            </a>
          </span>
        </p>
      )
    }
    {
      book.cover && (
        <Image
          alt={book.title}
          src={book.cover}
          width={420}
          height={600}
          class="animate-small-rotate-on-load mb-4 border border-gray-200 shadow-2xl max-sm:w-full min-sm:float-left min-sm:mr-8 min-sm:-ml-4"
        />
      )
    }
    {book.claim && <Blockquote text={book.claim} />}
    {book.description && <Markdown text={book.description} />}
    <div class="clear-both"></div>
  </Section>
  <Section className="clear-both my-24 mb-16 flex flex-col gap-12">
    {
      authors
        .filter(({ isMain }) => isMain)
        .map((a) => (
          <Excerpt
            title={`${a.firstname ?? ''} ${a.surname ?? ''}`}
            image={a.image ?? undefined}
            link={routes.authors.detail({
              _sys: { filename: a._sys?.filename ?? '' },
            })}
            description={a.claim ?? ''}
            moreLabel="více o autorovi"
            isRounded
          >
            {joinWords(
              a.role
                .map(
                  (r) =>
                    rolesMap[r]?.[(a.gender as 'male' | 'female' | undefined) ?? 'male'],
                )
                .filter(isDefined),
            )}
          </Excerpt>
        ))
    }
  </Section>
  <Section className="grid max-w-3xl grid-cols-3">
    {
      authors
        .filter(isDefined)
        .filter(({ isMain }) => !isMain)
        .map((a) => (
          <AuthorSmall
            firstname={a.firstname ?? ''}
            surname={a.surname ?? ''}
            image={a.image ?? ''}
            link={routes.authors.detail(a)}
            roles={a.role}
            gender={(a.gender as 'male' | 'female' | undefined) ?? 'male'}
          />
        ))
    }
  </Section>
  {
    authorsBooks.length > 0 && (
      <Section title={`Další knihy od ${mainAuthorNameSecond}`}>
        <BooksGrid>
          {authorsBooks.map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role.includes('author'))
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
  {
    categoryBooks.length > 0 && book.category && (
      <Section title={`Další knihy ${CATEGORIES[book.category]?.name}`}>
        <BooksGrid>
          {categoryBooks.map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role.includes('author'))
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
  {
    anotherBooks.length > 0 && (
      <Section title="Naše další knihy">
        <BooksGrid>
          {anotherBooks.map((book) => (
            <Book
              title={book.title}
              link={routes.books.detail(book)}
              image={book.cover ?? undefined}
              color={book.color ?? undefined}
              authors={(book.authors ?? [])
                .filter((a) => a?.role.includes('author'))
                .map((author) => author?.author)
                .filter(isDefined)
                .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
            />
          ))}
        </BooksGrid>
      </Section>
    )
  }
</Layout>
