---
import { Image } from "astro:assets";
import { cn } from "../utils/cn";
import { TinaMarkdown, type TinaMarkdownContent } from "tinacms/dist/rich-text";
import { isString } from "../utils/isString";
import ArrowLink from "../components/ArrowLink.astro";

interface Props {
  className?: string;
  image?: string;
  link?: string;
  title?: string;
  color?: string;
  description?: TinaMarkdownContent | TinaMarkdownContent[] | string;
  moreLabel?: string;
  isRounded?: boolean;
}

const {
  image,
  link,
  title,
  color,
  description,
  moreLabel,
  isRounded,
  className,
} = Astro.props;
---

<article class={cn("flex gap-8", "max-xs:flex max-xs:flex-col", className)}>
  {
    image && (
      <a class="block flex-1 w-[20rem]" href={link}>
        <Image
          alt={title ?? ""}
          src={image}
          width={157.5}
          height={157.5}
          class={cn(
            "shadow-2xl border border-gray-200",
            isRounded && "rounded-full",
          )}
        />
      </a>
    )
  }
  <div class="flex flex-col gap-4 flex-3">
    <div class="max-sm:flex max-sm:flex-col">
      <h2
        class="peer inline text-4xl font-head relative group"
        style={{ color: color ?? "black" }}
      >
        <a href={link}>{title}</a>
      </h2>
      <div class="relative w-8 inline-block mb-2">
        <div
          class="duration-500 peer-has-hover:w-32 peer-has-hover:-left-24 left-0 transition-all absolute w-8 h-[1px] b-2 bg-gray-400 max-sm:hidden"
        >
        </div>
      </div>
      <p class="text-xl inline text-gray-500"><slot /></p>
    </div>

    <div class="min-sm:pl-8">
      <div class="line-clamp-3">
        {
          description &&
            (isString(description) ? (
              description
            ) : (
              <TinaMarkdown
                content={description}
                components={{ p: (props) => props?.children, i: (props) => props?.children, q: (props) => props.children }}
              />
            ))
        }
      </div>
    </div>
    {
      link && (
        <div class="flex justify-end pr-4">
          <ArrowLink href={link} color={color}>
            {" "}
            {moreLabel ?? "více o knize"}{" "}
          </ArrowLink>
        </div>
      )
    }
  </div>
</article>
