---
import { Image } from 'astro:assets'

import ArrowLink from '../components/ArrowLink.astro'
import { cn } from '../utils/cn'
import { tp } from '../utils/tp'

interface Props {
  className?: string
  image?: string
  link?: string
  title: string
  description?: string
  moreLabel?: string
  isRounded?: boolean
}

const { image, link, title, description, moreLabel, isRounded, className } = Astro.props
---

<article class={cn('flex gap-8', 'max-xs:flex max-xs:flex-col', className)}>
  {
    image && (
      <a class="block w-[20rem] flex-1" href={link}>
        <Image
          alt={title}
          src={image}
          width={157.5}
          height={157.5}
          class={cn('border border-gray-200 shadow-2xl', isRounded && 'rounded-full')}
        />
      </a>
    )
  }
  <div class="flex flex-3 flex-col gap-4">
    <div class="max-sm:flex max-sm:flex-col">
      <h2 class="peer text-brand-first-500 font-head group relative inline text-4xl">
        <a href={link}>{tp(title)}</a>
      </h2>
      <div class="relative mx-2 mb-2 inline-block w-8">
        <div
          class="absolute bottom-0 left-0 h-[1px] w-8 bg-gray-400 transition-all duration-500 peer-has-hover:-left-24 peer-has-hover:w-32 max-sm:hidden"
        >
        </div>
      </div>
      <p class="inline text-xl text-gray-500"><slot /></p>
    </div>

    <div class="min-sm:pl-8">
      <div class="line-clamp-3">
        {description && tp(description.replace(/[*>#]/g, ''))}
      </div>
    </div>
    {
      link && (
        <div class="flex justify-end pr-4">
          <ArrowLink href={link}>{moreLabel ?? 'více o knize'} </ArrowLink>
        </div>
      )
    }
  </div>
</article>
