---
import { Image } from "astro:assets";
import { cn } from "../utils/cn";
import { TinaMarkdown, type TinaMarkdownContent } from "tinacms/dist/rich-text";
import { isString } from "../utils/isString";
import ArrowLink from "../components/ArrowLink.astro";
import { tp } from "../utils/tp";
import type { PropsWithChildren } from "react";

interface Props {
  className?: string;
  image?: string;
  link?: string;
  title: string;
  color?: string;
  secondColor?: string;
  description?: TinaMarkdownContent | TinaMarkdownContent[] | string;
  moreLabel?: string;
  isRounded?: boolean;
}

const {
  image,
  link,
  title,
  color,
  secondColor,
  description,
  moreLabel,
  isRounded,
  className,
} = Astro.props;
---

<article class={cn("flex gap-8", "max-xs:flex max-xs:flex-col", className)}>
  {
    image && (
      <a class="block flex-1 w-[20rem]" href={link}>
        <Image
          alt={title ?? ""}
          src={image}
          width={157.5}
          height={157.5}
          class={cn(
            "shadow-2xl border border-gray-200",
            isRounded && "rounded-full",
          )}
        />
      </a>
    )
  }
  <div class="flex flex-col gap-4 flex-3">
    <div class="max-sm:flex max-sm:flex-col">
      <h2
        class="peer inline text-4xl font-head relative group"
        style={{ color: color ?? "black" }}
      >
        <a href={link}>{tp(title)}</a>
        <span
          class="absolute left-0 bottom-0 h-[2px] w-0 group-hover:w-full transition-all duration-500"
          style={{ backgroundColor: secondColor }}></span>
      </h2>
      <div class="relative w-8 inline-block mb-2 mx-2">
        <div
          class="duration-500 peer-has-hover:w-32 peer-has-hover:-left-24 left-0 bottom-0 transition-all absolute w-8 h-[1px] bg-gray-400 max-sm:hidden"
        >
        </div>
      </div>
      <p class="text-xl inline text-gray-500"><slot /></p>
    </div>

    <div class="min-sm:pl-8">
      <div class="line-clamp-3">
        {
          description &&
            (isString(description) ? (
              tp(description)
            ) : (
              <TinaMarkdown
                content={description}
                components={{
                  p: (props) =>
                    isString(props?.children)
                      ? tp(props?.children)
                      : props?.children,
                  i: (props) =>
                    isString(props?.children)
                      ? tp(props.children)
                      : props?.children,
                  q: (props) =>
                    isString(props?.children)
                      ? tp(props.children)
                      : props?.children,
                }}
              />
            ))
        }
      </div>
    </div>
    {
      link && (
        <div class="flex justify-end pr-4">
          <ArrowLink href={link} color={secondColor}>
            {" "}
            {moreLabel ?? "více o knize"}{" "}
          </ArrowLink>
        </div>
      )
    }
  </div>
</article>
