---
import { getCollection } from 'astro:content'
import { isDefined } from 'narrowland'

import SearchButton from '../components/SearchButton.svelte'
import { routes } from '../routes'
import { joinWords } from '../utils/joinWords'
import HeaderLink from './HeaderLink.astro'

const books = await getCollection('book')
const authors = await getCollection('author')

const navigations = [
  {
    link: routes.books.list(),
    label: 'Naše knihy',
  },
  {
    link: '/o-nakladatelstvi',
    label: 'O nakladatelství',
  },
]
---

<div class="min-w-full px-6">
  <menu
    class="mx-auto mt-2 flex max-w-[56rem] items-center justify-between gap-4 py-1 transition-colors max-lg:flex-col"
  >
    <h2 class="font-head text-brand-first-500 m-0 text-3xl hover:text-black">
      <a class="no-underline" href="/">Přestupní stanice</a>
    </h2>
    <div class="internal-links max-xs:justify-center flex flex-wrap items-center gap-4">
      {
        navigations.map(({ link, label }, index) => (
          <>
            {index !== 0 && (
              <div class="mr-2 inline-block h-[1px] w-8 bg-gray-300 max-sm:hidden" />
            )}
            <HeaderLink href={link}>{label}</HeaderLink>
          </>
        ))
      }
      <div class="mr-2 inline-block h-[1px] w-8 bg-gray-300 max-sm:hidden"></div>
      <SearchButton
        client:idle
        data={[
          ...books.map(({ data: { title, cover, slug, authors: as } }) => ({
            slug,
            title,
            subtitle: joinWords(
              as
                .filter((a) => a.isMain)
                .map((a) => {
                  const author = authors.find((as) => as.data.slug === a.slug.id)
                  if (!author) {
                    return null
                  }
                  return `${author.data.firstname} ${author.data.surname}`
                })
                .filter(isDefined),
            ),
            image: cover,
            link: `/knihy/${slug}`,
            type: 'book',
          })),
          ...books
            .flatMap((b) => b.data.authors)
            .filter((a) => a.isMain)
            .map((a) => authors.find((au) => au.id === a.slug.id))
            .filter(isDefined)
            .map(({ data: { firstname, surname, image, slug } }) => ({
              slug,
              title: `${firstname} ${surname}`,
              image,
              link: `/autori/${slug}`,
              type: 'author',
          }))
        ].filter((item, index, arr) => index === arr.findIndex((el) => el.slug === item.slug))}
      />
    </div>
  </menu>
</div>
